<template name="Layout">
  {{#HeaderFooterLayout size="[undefined,undefined]" headerSize="50" footerSize="50"}}

    {{#Surface target="header" size="[undefined,undefined]" translate="[0,0,100]"}}
    	{{>yield region="header"}}
    {{/Surface}}

  {{>View target="content" template='sidebar' size="[undefined,undefined]"}}

  {{#View target="content" size="[undefined,undefined]"}}
    {{#RenderController target="content" size="[undefined,undefined]"}}
    	{{>yield}}
    {{/RenderController}}
  {{/View}}

    {{#Surface target="footer" size="[undefined,undefined]" translate="[0,0,100]"}}
      {{>yield region="footer"}}
    {{/Surface}}

  {{/HeaderFooterLayout}}
</template>
